@mixin buttomStyle {
    background-color: transparent;
    border: 1px solid $header-color;
    color: $header-color;
    border-radius: 5%;
    font-size: 16px;
    font-weight: bold;
}

@mixin grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

@mixin grid_colum {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

@mixin grid_colum_left {
    padding-left: 12px;
    padding-right: 12px;
    width: 18.667%;
}

@mixin grid_colum_right {
    padding-left: 12px;
    padding-right: 12px;
    width: 81.33%;
}

@mixin sub_header-item--active {
    color: $header-color;
    background-color: #dcf8f8;
    border-radius: 10px;
    width: 80px;
    height: 42px;
    justify-content: center;
    align-items: center;
}

@mixin center {
    display: flex;
    align-items: center;
}

@mixin directory-item-link-a {
    background-color: rgb(183, 221, 252);
    height: 35px;
    margin-left: 10px;
    border-radius: 8px;
    padding-left: 18px;
}

@mixin product_img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
}