* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale();
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.header__search {
  width: 40%;
  display: flex;
  align-items: center;
}
.header__search .header__search-input {
  width: 100%;
  height: 35px;
  background-color: #EDEDF0;
  border: none;
  border-radius: 20px;
  padding-left: 30px;
  font-size: 18px;
  color: #19191D;
}
.header__search .header__search-icon {
  font-size: 15px;
  color: #787777;
  margin-right: -24px;
  z-index: 1;
}
.header__search .header__search-icon-exit {
  color: #2264D1;
  margin-left: -30px;
  font-size: 15px;
}

.header__login {
  display: flex;
  position: relative;
  align-items: center;
}
.header__login .amount {
  position: absolute;
  right: -2px;
  top: -14px;
}
.header__login .amount .amount-text {
  height: 15px;
  width: 15px;
  border-radius: 150%;
  background-color: red;
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

.btn {
  background-color: transparent;
  border: 1px solid #2264D1;
  color: #2264D1;
  border-radius: 5%;
  font-size: 16px;
  font-weight: bold;
}

.header__login .btn__login {
  padding: 5px 20px;
  margin-right: 7px;
}

.header__login .btn__cart {
  padding: 5px 10px;
}

.header__logo img {
  height: 50px;
  width: 100px;
}

.sub_header {
  display: flex;
  padding-top: 20px;
  font-size: 11px;
  justify-content: space-evenly;
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
.sub_header .sub_header-item--active {
  color: #2264D1;
  background-color: #dcf8f8;
  border-radius: 10px;
  width: 80px;
  height: 42px;
  justify-content: center;
  align-items: center;
}
.sub_header .sub_header-item {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: #787885;
}
.sub_header .sub_header-item .sub_header-item-icon {
  margin: auto;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
.container .grid_colum {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.container .grid_colum .grid_colum_left {
  padding-left: 12px;
  padding-right: 12px;
  width: 18.667%;
}
.container .grid_colum .grid_colum_left .directory__heading {
  display: flex;
  align-items: center;
  margin-right: -30px;
  padding-left: 30px;
}
.container .grid_colum .grid_colum_left .directory__heading .directory__heading-btn {
  background-color: transparent;
  border: 1px solid #2264D1;
  color: #2264D1;
  border-radius: 5%;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 38px;
}
.container .grid_colum .grid_colum_left .directory__heading .directory__heading-icon {
  margin-right: -30px;
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon {
  display: flex;
  align-items: center;
  width: 260px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 18px 8px 16px;
  display: block;
  right: 0;
  width: 65%;
  height: 55px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link-add {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 185px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link-add .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link-a {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 120px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link-a .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link-a .directory-item-icon-angle-p {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-caption .directory-item-icon .directory-item-link:hover {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon {
  display: flex;
  align-items: center;
  width: 260px;
  left: 8px;
  position: relative;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 18px 8px 16px;
  display: block;
  right: 0;
  width: 65%;
  height: 55px;
  font-weight: 500;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link-add {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 185px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link-add .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link-a {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 120px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link-a .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link-a .directory-item-icon-angle-p {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded .directory-item-icon .directory-item-link:hover {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon {
  display: flex;
  align-items: center;
  width: 260px;
  left: 16px;
  position: relative;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 18px 8px 16px;
  display: block;
  right: 0;
  width: 65%;
  height: 55px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link-add {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 185px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link-add .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link-a {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 120px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link-a .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link-a .directory-item-icon-angle-p {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-expanded-sub .directory-item-icon .directory-item-link:hover {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon {
  display: flex;
  align-items: center;
  width: 260px;
  left: 8px;
  position: relative;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 18px 8px 16px;
  display: block;
  right: 0;
  width: 65%;
  height: 55px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link-add {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 185px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link-add .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link-a {
  display: flex;
  align-items: center;
  background-color: rgb(183, 221, 252);
  height: 35px;
  margin-left: 10px;
  border-radius: 8px;
  padding-left: 18px;
  width: 120px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link-a .blue-text {
  color: #2264D1;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link-a .directory-item-icon-angle-p {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}
.container .grid_colum .grid_colum_left .directory-list .directory-item-menu .directory-item-icon .directory-item-link:hover {
  color: #2264D1;
}
.container .grid_colum .grid_colum_right {
  padding-left: 12px;
  padding-right: 12px;
  width: 81.33%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top {
  height: 50%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_filter .home_filter-text {
  font-size: 14px;
  padding-left: 30px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_filter .home_filter-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_filter .home_filter-add .home_filter-add-p {
  color: #2264D1;
  font-size: 12px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum {
  width: 24%;
  height: 100%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-img-first {
  background-image: url("./img/Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-img-second {
  background-image: url("./img/Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-img-third {
  background-image: url("./img/Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-img-four {
  background-image: url("./img/Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-text {
  font-size: 12px;
  padding-left: 20px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-text .home_product-colum-text-address {
  width: 70%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-text .text_bold {
  font-size: 15px;
  font-weight: bold;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-text .home_product-colum-text-star {
  display: flex;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum .home_product-colum-text .home_product-colum-text-star .home_product-colum-text-block-star {
  color: orange;
  font-size: 8px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-top .home_product .home_product-colum:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom {
  height: 120%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale {
  display: flex;
  height: 30%;
  justify-content: space-evenly;
  flex-direction: column;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale .home_sale_text {
  display: flex;
  padding-top: 7px;
  justify-items: flex-start;
  font-size: 14px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  z-index: 1;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product {
  width: 24%;
  height: 44%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product .home_sale_product-img {
  background-image: url("./img/Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  height: 42%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product .home_sale_product-text {
  padding-left: 10px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product .home_sale_product-text .home_sale_product-text-name {
  font-size: 14px;
  width: 70%;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product .home_sale_product-text .price-bold {
  font-weight: bold;
  font-size: 16px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale_content .home_sale_product .home_sale_product-text .home_sale_product-text-sale-off {
  padding: 4px 4px;
  background-color: rgb(255, 178, 204);
  width: 30%;
  text-align: center;
  border-radius: 6px;
  color: #C23564;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale-add {
  display: flex;
  justify-content: center;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale-add .home_sale-add-item {
  background-color: rgb(183, 221, 252);
  color: #2264D1;
  font-weight: bold;
  border-radius: 8px;
  height: 35px;
  display: flex;
  margin-bottom: 100px;
}
.container .grid_colum .grid_colum_right .grid_colum_right-buttom .home_sale-add .home_sale-add-item .home_sale-add-item-text {
  justify-content: center;
  width: 90px;
  margin-left: 42px;
}

.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
  display: none;
}
.login .login__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.login .login__body {
  width: 400px;
  z-index: 1;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login .login__body .login__inner .login-form {
  padding: 20px 40px;
}
.login .login__body .login__inner .login-form .login-form__header {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.login .login__body .login__inner .login-form .login-form__header .login-form__header-img {
  background-image: url("./img/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50px;
}
.login .login__body .login__inner .login-form .login-form__header .login-form__exit-icon {
  font-size: 20px;
}
.login .login__body .login__inner .login-form .login-form__body {
  display: flex;
  flex-direction: column;
}
.login .login__body .login__inner .login-form .login-form__body .login-form__body-text {
  font-size: 16px;
}
.login .login__body .login__inner .login-form .login-form__body .login-form__body-input {
  border-radius: 5px;
  height: 40px;
  margin-bottom: 24px;
  border: none;
  padding-left: 12px;
  background-color: #F6F9FC;
}
.login .login__body .login__inner .login-form .login-form__body .login-form__body-btn {
  border-radius: 5px;
  height: 40px;
  background-color: #2264D1;
  border: none;
  color: white;
}
.login .login__body .login__inner .login-form .login-form__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
}
.login .login__body .login__inner .login-form .login-form__footer .login-form__footer-text {
  font-size: 12px;
}
.login .login__body .login__inner .login-form .login-form__footer .login-form__footer-icon {
  font-size: 15px;
}
.login .login__body .login__inner .login-form .login-form__footer .login-form__footer-icon .login-form__footer-icon-fb {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
